Repository chamrick-at-nettracer/Cord-Fam-App: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd backend && eslint --fix, cd frontend/web && eslint --fix, cd tooling && eslint --fix, node tooling/add-code-block-languages.js, markdownlint-cli2 --fix

.lintstagedrc.json:

{
  "backend/**/*.{ts,js}": ["prettier --write", "cd backend && eslint --fix", "git add"],
  "frontend/web/**/*.{ts,tsx,js,jsx}": [
    "prettier --write",
    "cd frontend/web && eslint --fix",
    "git add"
  ],
  "tooling/**/*.js": ["prettier --write", "cd tooling && eslint --fix", "git add"],
  "*.{json,yml,yaml}": ["prettier --write", "git add"],
  "*.md": [
    "node tooling/add-code-block-languages.js",
    "markdownlint-cli2 --fix",
    "prettier --write",
    "git add"
  ]
}

Added "getting started" instructions for new devs;
  README.md
  backend/.env.example
  docs/DEVELOPER_ONBOARDING.md
  docs/GETTING_STARTED.md
  docs/TESTING_MVP.md
  docs/tasks/QUICK_START.md
  docs/tech-docs/ANDROID_SETUP.md
  docs/tech-docs/BACKEND_SETUP.md
  docs/tech-docs/DEVELOPMENT.md
  docs/tech-docs/README.md
  docs/tech-docs/WEB_FRONTEND_SETUP.md
  frontend/web/.env.example
Due: prettier --write, node tooling/add-code-block-languages.js, markdownlint-cli2 --fix

Deployment notes;
  docs/tech-docs/DEPLOYMENT.md
Due: prettier --write, node tooling/add-code-block-languages.js, markdownlint-cli2 --fix

A lot of (possibly excessive) getting-started docs;
  README.md
  docs/FIRST_DAY_WALKTHROUGH.md
  docs/GETTING_STARTED.md
  docs/JUNIOR_DEV_START_HERE.md
  docs/SETUP_CHECKLIST.md
Due: prettier --write, node tooling/add-code-block-languages.js, markdownlint-cli2 --fix

Fixed some errors in the "getting started" docs;
  docs/FIRST_DAY_WALKTHROUGH.md
  docs/GETTING_STARTED.md
  docs/JUNIOR_DEV_START_HERE.md
  docs/SETUP_CHECKLIST.md
Due: prettier --write, node tooling/add-code-block-languages.js, markdownlint-cli2 --fix

Added weekly maintenance standards and docs;
  .gitignore
  docs/tech-docs/CURSOR_RULES.md
  docs/tech-docs/WEEKLY_MAINTENANCE.md
  package.json
  scripts/maintenance-audit.js
  scripts/maintenance-knip.js
  scripts/maintenance-outdated.js
  scripts/maintenance-quality.js
  scripts/maintenance.js
Due: prettier --write, node tooling/add-code-block-languages.js, markdownlint-cli2 --fix

Same message as before;
  backend/.eslintrc.json
  backend/src/repositories/channelRepository.ts
  backend/src/repositories/messageRepository.ts
  backend/src/repositories/userRepository.ts
  backend/src/routes/channels.ts
  backend/src/routes/messages.ts
  backend/src/services/authService.ts
  backend/src/services/channelService.ts
  backend/src/services/messageService.ts
  docs/JUNIOR_DEV_START_HERE.md
  eslint.config.js
  frontend/web/src/pages/DashboardPage.tsx
  frontend/web/src/pages/LoginPage.tsx
  frontend/web/src/pages/RegisterPage.tsx
  scripts/init-database.sql
Due: prettier --write, cd backend && eslint --fix, cd frontend/web && eslint --fix, node tooling/add-code-block-languages.js, markdownlint-cli2 --fix

Updated MySQL commands in the "Getting Started" documentation for consistency and clarity; added note for users who installed MySQL via the official installer.
  docs/JUNIOR_DEV_START_HERE.md
Due: prettier --write, node tooling/add-code-block-languages.js, markdownlint-cli2 --fix

Minor update;
  docs/JUNIOR_DEV_START_HERE.md
Due: prettier --write, node tooling/add-code-block-languages.js, markdownlint-cli2 --fix

Fixed Fastly logger config;
  backend/src/index.ts
Due: prettier --write, cd backend && eslint --fix

Some bugfixes;
  backend/src/repositories/channelRepository.ts
  backend/src/routes/messages.ts
  backend/src/services/channelService.ts
  frontend/web/package-lock.json
Due: prettier --write, cd backend && eslint --fix

Updated the task status as of MVP Milestone 1;
  docs/TESTING_MVP.md
  docs/tasks/PROGRESS.md
  docs/tech-docs/API_DESIGN.md
  docs/tech-docs/DECISIONS.md
Due: prettier --write, node tooling/add-code-block-languages.js, markdownlint-cli2 --fix

Improved login session management so we don't feel logged out every time we refresh the browser!
  backend/src/services/authService.ts
  backend/src/services/messageService.ts
  backend/src/types/message.ts
  backend/src/types/user.ts
  docs/tasks/SLACK_UI_IMPROVEMENTS.md
  frontend/web/package-lock.json
  frontend/web/package.json
  frontend/web/src/App.tsx
  frontend/web/src/components/MarkdownToolbar.tsx
  frontend/web/src/components/MessageItem.tsx
  frontend/web/src/pages/DashboardPage.tsx
  frontend/web/src/services/api.ts
  frontend/web/src/types/api.ts
  scripts/add-preferred-color.sql
Due: prettier --write, cd backend && eslint --fix, cd frontend/web && eslint --fix, node tooling/add-code-block-languages.js, markdownlint-cli2 --fix

Added user settings management;
  backend/src/repositories/userRepository.ts
  backend/src/routes/auth.ts
  backend/src/services/authService.ts
  frontend/web/src/App.tsx
  frontend/web/src/main.tsx
  frontend/web/src/pages/DashboardPage.tsx
  frontend/web/src/pages/SettingsPage.tsx
  frontend/web/src/services/authService.ts
  frontend/web/src/store/AuthContext.tsx
  frontend/web/src/store/ThemeContext.tsx
Due: prettier --write, cd backend && eslint --fix, cd frontend/web && eslint --fix

Got preferred_color for the avatar icons working;
  backend/src/index.ts
  backend/src/repositories/userRepository.ts
  backend/src/services/authService.ts
  frontend/web/src/pages/SettingsPage.tsx
  frontend/web/src/services/api.ts
  scripts/add-preferred-color-safe.sql
Due: prettier --write, cd backend && eslint --fix, cd frontend/web && eslint --fix

Button for getting back from Settings to the Dashboard (no dead-end navigation allowed!);
  frontend/web/src/pages/SettingsPage.tsx
Due: prettier --write, cd frontend/web && eslint --fix

Unit tests coverage git hook;
  .husky/pre-commit-coverage.sh
  backend/jest.config.js
  backend/package-lock.json
  backend/package.json
  backend/src/repositories/tests/userRepository.test.ts
  backend/src/services/tests/authService.test.ts
  docs/tasks/TESTING_SETUP.md
  frontend/web/package-lock.json
  frontend/web/package.json
  frontend/web/src/services/tests/authService.test.ts
  frontend/web/src/store/tests/AuthContext.test.tsx
  frontend/web/src/tests/setup.ts
  frontend/web/vite.config.ts
Due: prettier --write, cd backend && eslint --fix, cd frontend/web && eslint --fix, node tooling/add-code-block-languages.js, markdownlint-cli2 --fix

Fixes to test coverage thresholds and patterns;
  .husky/pre-commit
  backend/jest.config.js
  backend/src/database/mongodb.ts
  backend/src/database/mysql.ts
  backend/src/middleware/auth.ts
  backend/src/repositories/tests/userRepository.test.ts
  backend/src/routes/auth.ts
  backend/src/routes/channels.ts
  backend/src/routes/messages.ts
  backend/src/services/authService.ts
  backend/src/services/tests/authService.test.ts
  docs/tech-docs/WEEKLY_MAINTENANCE.md
  frontend/web/src/services/tests/authService.test.ts
  frontend/web/src/store/tests/AuthContext.test.tsx
  frontend/web/vite.config.ts
  scripts/maintenance.js
Due: prettier --write, cd backend && eslint --fix, cd frontend/web && eslint --fix, node tooling/add-code-block-languages.js, markdownlint-cli2 --fix

Quick fixes to get to a minimal testing threshold;
  backend/jest.config.js
  backend/src/repositories/tests/userRepository.test.ts
  backend/src/services/authService.ts
  backend/src/services/tests/authService.test.ts
Due: prettier --write, cd backend && eslint --fix

Added basic user docs and help pages, plus Swagger;
  backend/package-lock.json
  backend/package.json
  backend/src/index.ts
  backend/src/routes/auth.ts
  backend/src/routes/channels.ts
  backend/src/routes/messages.ts
  docs/DEMO_READINESS_ASSESSMENT.md
  docs/user-docs/CHANNELS.md
  docs/user-docs/GETTING_STARTED.md
  docs/user-docs/MESSAGING.md
  frontend/web/src/App.tsx
  frontend/web/src/pages/DashboardPage.tsx
  frontend/web/src/pages/HelpPage.tsx
  frontend/web/src/services/api.ts
  frontend/web/src/store/AuthContext.tsx
  frontend/web/src/tests/setup.ts
Due: prettier --write, cd backend && eslint --fix, cd frontend/web && eslint --fix, node tooling/add-code-block-languages.js, markdownlint-cli2 --fix

Adding E2E testing...
  .gitignore
  .markdownlint.json
  docs/tasks/PROGRESS.md
  docs/tech-docs/E2E_TESTING.md
  docs/tech-docs/README.md
  frontend/web/e2e/README.md
  frontend/web/e2e/auth.spec.ts
  frontend/web/e2e/dashboard.spec.ts
  frontend/web/package-lock.json
  frontend/web/package.json
  frontend/web/playwright.config.ts
Due: prettier --write, cd frontend/web && eslint --fix, node tooling/add-code-block-languages.js, markdownlint-cli2 --fix

E2E tests and fixes;
  docs/tech-docs/E2E_TESTING.md
  docs/tech-docs/GIT_HOOKS.md
  frontend/web/e2e/README.md
  frontend/web/e2e/auth.spec.ts
  frontend/web/e2e/dashboard.spec.ts
  frontend/web/playwright.config.ts
  frontend/web/vite.config.ts
Due: prettier --write, cd frontend/web && eslint --fix, node tooling/add-code-block-languages.js, markdownlint-cli2 --fix

Updated Vite config for the test;
  frontend/web/tsconfig.node.json
  frontend/web/vite.config.ts
Due: prettier --write, cd frontend/web && eslint --fix

Trying to fix the update color bug;
  docs/DEBUGGING_COLOR_UPDATE.md
  frontend/web/src/pages/SettingsPage.tsx
  frontend/web/src/store/AuthContext.tsx
Due: prettier --write, cd frontend/web && eslint --fix, node tooling/add-code-block-languages.js, markdownlint-cli2 --fix

Fixed bug where avatar colors weren't changing.
  backend/src/repositories/userRepository.ts
  backend/src/routes/messages.ts
  backend/src/services/messageService.ts
  frontend/web/src/components/MessageItem.tsx
  frontend/web/src/pages/SettingsPage.tsx
Due: prettier --write, cd backend && eslint --fix, cd frontend/web && eslint --fix

Demo Script;
  docs/DEMO_SCRIPT.md
Due: prettier --write, node tooling/add-code-block-languages.js, markdownlint-cli2 --fix

Added Life360 and Cozi Calendar types of capabilities to the product goals;
  README.md
  docs/DEMO_SCRIPT.md
  docs/PRD.md
  docs/tasks/PROGRESS.md
  docs/user-docs/GETTING_STARTED.md
  docs/user-docs/README.md
Due: prettier --write, node tooling/add-code-block-languages.js, markdownlint-cli2 --fix
